﻿body {
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
    margin: 0px;
    padding-top: 12px;
}


span {
    font-style: italic;
}
canvas {
    position: absolute;
    width: 100%;
}

body {
    width: 100%;
}

img {
    width: 100%;
}

#container > img {
    position: absolute;
}

.process-button {
    position: absolute;
    width: 82px;
    height: 82px;
    border-radius: 100%;
    color: #ffffff;
    text-align: center;
    right: 0px;
    top: 0px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 40px;
    opacity: 0.5;
    background-color: #000000;
    transition: background-color 0.25s;
    border: 1px solid #ffffff;
    display: none;
    z-index: 10;
}

#loader-button {
    top: 0px;
    left: 0px;
}

#save-button {
    left: 94px;
    top: 0px
}

.process-button:hover {
    background-color: #4cff00;
    transition: background-color 0.25s;
}

.button-text {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 28px;
}

#container {
    position: relative;
    max-width: 768px;
    background-color: #F5F5F5;
    min-height: 138px;
    margin: 0px auto;
}

#generated-image {
    position: absolute;
    max-width: 768px;
    opacity: 0.01;
}

#container:hover > #generated-image {
    opacity: 1.0;
}

#file-loader {
    position: absolute;
    right: 400%;
}

.pattern-selectors{
  position: absolute;
  padding-top: 8px;
  width: 100%;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 1.0;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.8em;
}

#element-width {
  position: absolute;
  width: 49%;
  left: 0%;
  height: 4px;
}

#width-text {
  position: absolute;
  top: 14px;
  width: 39%;
  text-align: right;
  cursor:default;
}

#height-text {
    position: absolute;
    width: 48%;
    left: 61%;
    top: 14px;
    cursor:default;
    user-select: none;
}

#element-height {
  position: absolute;
  width: 48%;
  right: 0%;
  height: 4px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    margin: 0px;
    width: 200px;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #FFF;
    border-radius: 13px;
    width: 12px;
    height: 12px;
}

